{% extends 'base.html' %} {% load static %} {% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">
        <!-- start banner Area -->
        <section class="banner-area relative" id="home">	
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row fullscreen d-flex align-items-center justify-content-center">
                    <div class="banner-content col-lg-12">
                        <h1 class="text-white">
                            <span>100+</span> Ofertas Cada Semana				
                        </h1>	
                        <form action="search.html" class="serach-form-area">
                            <div class="row justify-content-center form-wrap">
                                <div class="col-lg-4 form-cols">
                                    <input type="text" class="form-control" name="search" placeholder="Que Buscas?">
                                </div>
                                <div class="col-lg-3 form-cols">
                                    <div class="default-select" id="default-selects">
                                        <select>
                                            <option value="1">Regiones</option>
                                            <option value="2">Metropolitana</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-3 form-cols">
                                    <div class="default-select" id="default-selects2">
                                        <select>
                                            <option value="1">Categorias</option>
                                            <option value="2">Fruta</option>
                                            <option value="3">Verdura</option>
                                        </select>
                                    </div>										
                                </div>
                                <div class="col-lg-2 form-cols">
                                    <button type="button" class="btn btn-info">
                                      <span class="lnr lnr-magnifier"></span> Buscar
                                    </button>
                                </div>								
                            </div>
                        </form>	
                    </div>											
                </div>
            </div>
        </section>
        <!-- End banner Area -->	

        <!-- Start features Area -->
        <section class="features-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature">
                            <h4>Confiable</h4>
                            <p>
                                Somos una empresa confiable para lo que necesitas.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature">
                            <h4>Rapida</h4>
                            <p>
                                Obtendrás productos a tiempo junto a un seguimiento de estos.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature">
                            <h4>Seguridad</h4>
                            <p>
                                Te garantizamos un envio respaldado con un seguro.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-feature">
                            <h4>Notificacion</h4>
                            <p>
                                Tendras notificaciones cada vez que tu pedido cambie de estado.
                            </p>
                        </div>
                    </div>																		
                </div>
            </div>	
        </section>
        <!-- End features Area -->
        
        <!-- Start feature-cat Area -->
        <section class="feature-cat-area pt-100" id="category">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-10">
                        <div class="title text-center">
                            <h1 class="mb-10">Destacamos por lo siguiente</h1>
                            <p>Las empresas nos avalan por nuestra atencion.</p>
                        </div>
                    </div>
                </div>						
                <div class="row">
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="{% static 'img/o1.png' %}" alt="">
                            </a>
                            <p>Seguridad</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="{% static 'img/o2.png' %}" alt="">
                            </a>
                            <p>Comentarios</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="{% static 'img/o3.png' %}" alt="">
                            </a>
                            <p>Innovador</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="{% static 'img/o4.png' %}" alt="">
                            </a>
                            <p>Reportes</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="{% static 'img/o5.png' %}" alt="">
                            </a>
                            <p>Atencion</p>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        <div class="single-fcat">
                            <a href="category.html">
                                <img src="{% static 'img/o6.png' %}" alt="">
                            </a>
                            <p>Seguimiento</p>
                        </div>			
                    </div>																											
                </div>
            </div>	
            <br>
        </section>
        <!-- End feature-cat Area -->
        
    
            

        <!-- Start callto-action Area -->
        <section class="callto-action-area section-gap" id="join">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content col-lg-9">
                        <div class="title text-center">
                            <h1 class="mb-10 text-white">Unete a Nosotros</h1>
                            <p class="text-white">Se parte de nuestra gran cantidad de personas que necesitan vender sus productos o comprarlos, decide tu si quieres ser Proveedor o Comprador</p>
                            <a class="primary-btn" href="#">Quiero ser Proveedor</a>
                            <a class="primary-btn" href="#">Quiero ser Comprador</a>
                        </div>
                    </div>
                </div>	
            </div>	
        </section>
        <!-- End calto-action Area -->
    
        <!-- start footer Area -->		
        <footer class="footer-area section-gap">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3  col-md-12">
                        <div class="single-footer-widget">
                            <h6>Calidad de Fruta</h6>
                            <ul class="footer-nav">
                                <li><a href="#">Premium</a></li>
                                <li><a href="#">Sabor</a></li>
                                <li><a href="#">Precio</a></li>
                                <li><a href="#">Tamaño</a></li>
                                <li><a href="#">Marca</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6  col-md-12">
                        <div class="single-footer-widget newsletter">
                            <h6>Inscribete</h6>
                            <p>Inscribete a nosotros y recibiras mas informacion sobre lo que necesites.</p>
                            <div id="mc_embed_signup">
                                <form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

                                    <div class="form-group row" style="width: 100%">
                                        <div class="col-lg-8 col-md-12">
                                            <input name="EMAIL" placeholder="Ingresa Tu Correo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ingresa Tu Correo '" required="" type="email">
                                            <div style="position: absolute; left: -5000px;">
                                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
                                            </div>
                                        </div> 
                                    
                                        <div class="col-lg-4 col-md-12">
                                            <button class="nw-btn primary-btn">Subscribete<span class="lnr lnr-arrow-right"></span></button>
                                        </div> 
                                    </div>		
                                    <div class="info"></div>
                                </form>
                            </div>		
                        </div>
                    </div>
                    <div class="col-lg-3  col-md-12">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13278.028161000853!2d-71.20425025!3d-33.695826499999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966255eae610cb2f%3A0xc3fdb55ead51065b!2sDuoc%20UC%3A%20Sede%20Melipilla!5e0!3m2!1ses-419!2scl!4v1666823739686!5m2!1ses-419!2scl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>						
                </div>

                <div class="row footer-bottom d-flex justify-content-between">
                    <p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Todos los derechos reservados por TPS.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                    <div class="col-lg-4 col-sm-12 footer-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>
            {% endblock %}
        </footer>
        <!-- End footer Area -->		

        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>			
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
          <script src="{% static 'js/easing.min.js' %}"></script>			
        <script src="{% static 'js/hoverIntent.js' %}"></script>
        <script src="{% static 'js/superfish.min.js' %}"></script>	
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>	
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>			
        <script src="{% static 'js/jquery.sticky.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>			
        <script src="{% static 'js/parallax.min.js' %}"></script>		
        <script src="{% static 'js/mail-script.js' %}"></script>	
        <script src="{% static 'js/main.js' %}"></script>	
    </body>
</html>



